body{
margin:0;
font-family:Poppins;
background:#0f172a;
color:#e2e8f0;
}

.app{display:flex;height:100vh}

/* SIDEBAR */
.sidebar{
width:240px;
background:#020617;
padding:20px;
border-right:1px solid #1e293b;
}

.sidebar h2{color:#38bdf8}

.sidebar li{
padding:12px;
margin:8px 0;
border-radius:8px;
cursor:pointer;
}

.sidebar li:hover,.active{background:#1e293b}

/* MAIN */
.main{flex:1;padding:30px;overflow:auto}

.card{
background:#020617;
padding:25px;
border-radius:14px;
border:1px solid #1e293b;
margin-bottom:20px;
animation:fade .4s ease;
}

@keyframes fade{
from{opacity:0; transform:translateY(10px)}
to{opacity:1}
}

/* GRID */
.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.field{display:flex;flex-direction:column}

label{
font-size:13px;
color:#94a3b8;
margin-bottom:5px;
}

/* INPUT */
input,select{
padding:12px;
border-radius:8px;
border:1px solid #334155;
background:#0f172a;
color:white;
}

/* BUTTONS */
.btn-group{margin-top:15px}

button{
padding:12px 18px;
border-radius:8px;
border:none;
cursor:pointer;
margin-right:10px;
transition:.2s;
}

button:hover{transform:translateY(-2px)}

.btn-primary{background:#38bdf8}
.btn-success{background:#22c55e}
.btn-danger{background:#ef4444}
.btn-export{background:#f59e0b}

/* ALERT */
.alert{
padding:15px;
border-radius:10px;
margin-top:10px;
font-weight:500;
}

.alert.success{background:#064e3b;color:#22c55e}
.alert.danger{background:#450a0a;color:#ef4444}

/* METRICS */
.metrics{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
}

.metrics div{
background:#0f172a;
padding:20px;
border-radius:10px;
text-align:center;
}

/* CHARTS */
.charts{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.chart-box{
height:300px;
background:#020617;
border-radius:12px;
padding:10px;
}